{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2><br>
    <div class="row">
        {% for item in items%}
            <div class="column">
                <div class="card">
                    <img src="{{item.image_link}}" alt="Unable to display image" style="height: 200px; width:200px text-align: center;"><br>
                    <h1>{{item.title}}</h1><br>
                    <p class="price">${{item.price}}</p><br>
                    <p>{{item.description}}</p><br>
                    <form action="{% url 'listing' item.id %}">
                      <button>View</button>
                    </form>                  
                </div>
            </div> 
        {% endfor %}
    </div>
{% endblock %}